* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    padding: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
.container {
    width: 98vw;
    height: 50%;
    background-color: hsl(257, 40%, 49%);
    
    
}
.sub-container {
    border: 2px solid hsl(257, 40%, 49%);
    width: 100%;
    height: 100%;
    background-image: url(./Images/bg-desktop.svg);
    background-size: cover;
    
}
.sub {
    padding: 5vw 1.9vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    
}
.head {
    margin-left: 8vw;
    margin-top: 6vw;
    color: hsl(0, 0%, 100%);
}
img {
    width: 55vw;
    height: 400px;
    
    
    
}
.sub-content {
    width: 800px;
    margin-left: 2vw;
    margin-top: 5vw;
    color: hsl(0, 0%, 100%);
}
h2 {
    margin: 5px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h3 {
    width: 220px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p {
    margin-top: 5vw;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
button {
    width: 12vw;
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    color:hsl(257, 40%, 49%);
}
.but {
    width: 12vw;
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    color:hsl(0, 0%, 100%);
}
.but > a {
    color:hsl(0, 0%, 100%);
}
.but:hover {
    background-color: hsl(300, 69%, 71%);
    
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
 button >a {
    color:hsl(257, 40%, 49%);
}
.fa-brands {
    margin-top: 30px;
    background-color: hsl(257, 40%, 49%);
    border: 1px solid white;
    border-radius: 100%;
    padding: 12px;
    
}
.heading {
    color: hsl(0, 0%, 100%);
    padding: 23px;
    margin-left: 60px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.fa-regular, .far  {
    margin-right: 5px;
}
.fa-twitter:hover {
    color: hsl(300, 69%, 71%);
}